*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image:url('../img/fondo/cuero.jpg');
    width: 700;
    height: 500;
    margin: 0 auto;
  }

h2 {
        font-family: 'Satisfy', cursive;
        font-size: 175%;
        line-height: 155%; 
        font-weight: 500;
        color:rgb(0, 0, 0);
        text-align: center;
        padding: 0;
        
      
}  

ul{
    list-style: none; /*quita los puntitos del listado*/
    margin: 0px; 
    padding:0px;
    text-align: center;

  
}

a:hover {
    color: #f7dc48;
  }

img {
  width: 300px;
  padding: 20px;
  display: inline;

    
  }

a {
    color:rgb(0, 0, 0);
}  

footer {
    background: #2c3e50;
    width: 100%;
    overflow: auto;
  }

}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size:
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #c3d7df;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
  
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #98ff9de1;
}

.social i:hover {
  color: #f5f5f5;
}

footer.second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}
footer.second p, .second a {
  text-align: center;
  color: #fff;
  font-size: 160%;
  line-height: 155%;
}

@media screen and (max-width: 768px) {
    p {
      font-size: 130%;
    }
    h3 {
      font-size: 150%;
    }
    header {
      height: 80px;
      position: relative;
    }
    header #logo {
      margin: 15px 0 20px -25px;
    }
  
    #menu-icon {
      display: inline-block;
    }
  
    nav:hover ul {
      display: block;
    }
  
    nav ul, nav:active ul {
      display: none;
      z-index: 1000;
      position: absolute;
      padding: 20px;
      background: #f5f5f5;
      border: 1px solid #a5bdcd;
      right: 20px;
      width: 30%;
      opacity: .95;
    }
    nav li {
      text-align: center;
      width: 100%;
    }
  
    .one-third {
      float: left;
      width: 100%;
  
    }
    .icon-wrap {
      height: 80px;
      width: 80px;
      margin-top: 3%;
    }
  
    .icon-wrap i {
      font-size: 250%;
      padding-top: 27%;
    }
  
    .left-col {
      width: 100%;
      padding: 0;
    }
  
    .sidebar {
      width: 100%;
    }
  
    .one-third-padding {
      width: 98%;
      margin: 0;
      padding: 1%;
    }
  
    .icon-text-icon {
      width: 100%;
      padding: 0 0 2% 0;
    }
  
    .icon-text-text {
      width: 100%;
      padding: 2% 0 0 0;
      font-size: 80%;
    }
  
    .footer-nav {
      margin: 0 auto;
      text-align: center;
      padding: 5%;
    }
  
    .footer-nav li {
      padding: 1%;
    }

    nav{
      display: inline-block;
    
    }
  
  



  

